.Collapse {
    width: 30%;
    margin-bottom: 40px;
  
          .btnCollapse {
          width: 90%;
          background-color: rgb(15, 15, 15);
          color: white;
          font-size: 12px;
          font-weight: 500;
          text-align: left;
          height: 34px;
          padding: 20px;
          border: 1px solid rgb(236, 236, 236);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          z-index: 1;
          cursor: auto;
          }

          ul {
            list-style-type: none;
          }
  
          .imgCollapse {
              cursor: pointer;
              width: 10px;
              padding: 15px;
              transform: rotate(-180deg);
              transition: transform 0.3s ease;
            }
            
          .imgCollapse.collapsed {
              transform: rotate(0deg);
            }
  
            .content {
              overflow: hidden;
              height: 0;
              transform: translateY(-50px);
              transition: all 0.2s linear;
              z-index: 0;
              font-size: 16px;
              color: rgb(236, 236, 236);
              text-align: left;
              font-weight: 400;
              margin-top: -20px;
              margin-right: 50px;
            }
            
            .content.collapsed {
              transform: translateY(20px);
              height: 100%;
              min-height: 150px;
            }
            
  }

  @media screen and (max-width: 960px) {
    .Collapse {
      width: 50%;
      margin-bottom: 20px;
    
            .btnCollapse {
            width: 90%;
            font-size: 10px;
            height: 24px;
            padding: 10px;
            cursor: auto;
            }
    
              .content {
                font-size: 12px;
                margin-top: -20px;
                margin-right: 10px;
              }
              
              .content.collapsed {
                transform: translateY(30px);
              }
              
    }
}